USE [master]
GO
/****** Object:  Database [QLNSTL]    Script Date: 10/30/2021 9:23:37 PM ******/
CREATE DATABASE [QLNSTL]
go
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNSTL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNSTL]
GO
/****** Object:  Table [dbo].[BangCap]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangCap](
	[BangCapID] [int] IDENTITY(1,1) NOT NULL,
	[TenBangCap] [nvarchar](50) NULL,
 CONSTRAINT [PK_BangCap] PRIMARY KEY CLUSTERED 
(
	[BangCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoPhan]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoPhan](
	[BoPhanID] [int] IDENTITY(1,1) NOT NULL,
	[TenBoPhan] [nvarchar](50) NULL,
 CONSTRAINT [PK_BoPhan] PRIMARY KEY CLUSTERED 
(
	[BoPhanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[ChamCongID] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [char](10) NULL,
	[NgayCongChuan] [int] NULL,
	[BoPhanID] [int] NULL,
	[NhanVienID] [int] NULL,
	[NgayDiLam] [int] NULL,
	[NgayNghiLe] [int] NULL,
	[NgayNghiPhepTinhLuong] [int] NULL,
	[NgayKhongLuong] [int] NULL,
	[NgayTinhLuong] [int] NULL,
	[NgayChamCong] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[ChamCongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBanKeLuong]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBanKeLuong](
	[ChiTietBanKeLuongID] [int] IDENTITY(1,1) NOT NULL,
	[ThangKeLuong] [char](10) NULL,
	[NhanVienID] [int] NULL,
	[TienLuongCung] [float] NULL,
	[HieuSuat] [float] NULL,
	[NgayCongChuan] [int] NULL,
	[NgayTinhLuong] [int] NULL,
	[PhuCap] [float] NULL,
	[TamUng] [float] NULL,
	[ThucLinh] [float] NULL,
	[TongLuong] [float] NULL,
	[ThueThuNhapCaNhan] [float] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_ChiTietBanKeLuong] PRIMARY KEY CLUSTERED 
(
	[ChiTietBanKeLuongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTamUng]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTamUng](
	[PhieuTamUngID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuTamUng] [nvarchar](10) NULL,
	[ThangTamUng] [char](10) NULL,
	[TamUngID] [int] NULL,
	[NhanVienID] [int] NULL,
	[NgayLap] [date] NULL,
	[TamUng] [float] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TrangThaiID] [int] NULL,
 CONSTRAINT [PK_ChiTietTamUng] PRIMARY KEY CLUSTERED 
(
	[PhieuTamUngID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanToc]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanToc](
	[DanTocID] [int] IDENTITY(1,1) NOT NULL,
	[TenDanToc] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanToc] PRIMARY KEY CLUSTERED 
(
	[DanTocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaHieuSuat]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaHieuSuat](
	[DanhGiaHieuSuatID] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [char](10) NULL,
	[NhanVienID] [int] NULL,
	[HieuSuat] [float] NULL,
 CONSTRAINT [PK_DanhGiaHieuSuat_1] PRIMARY KEY CLUSTERED 
(
	[DanhGiaHieuSuatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiTinh]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiTinh](
	[GioiTinhID] [bit] NOT NULL,
	[GioiTinh] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_GioiTinh] PRIMARY KEY CLUSTERED 
(
	[GioiTinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[HopDongID] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [nvarchar](10) NULL,
	[LoaiHopDongID] [int] NULL,
	[NgayKy] [date] NULL,
	[NgayHieuLuc] [date] NULL,
	[NgayHetHan] [date] NULL,
	[NhanVienID] [int] NULL,
	[NgayKetThuc] [date] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_HopDong] PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoNhanVien]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoNhanVien](
	[NhanVienID] [int] NOT NULL,
	[NgayVaoLam] [date] NULL,
	[DanTocID] [int] NULL,
	[TonGiaoID] [int] NULL,
	[TinhThanhID] [int] NULL,
	[NgoaiNguID] [int] NULL,
	[TinHocID] [int] NULL,
	[BangCapID] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhenThuongKyLuat]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhenThuongKyLuat](
	[KhenThuongKyLuatID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienID] [int] NULL,
	[LoaiQuyetDinhID] [int] NULL,
	[NgayQuyetDinh] [datetime] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhenThuongKyLuat_1] PRIMARY KEY CLUSTERED 
(
	[KhenThuongKyLuatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHopDong]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHopDong](
	[LoaiHopDongID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiHopDong] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiHopDong] PRIMARY KEY CLUSTERED 
(
	[LoaiHopDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiQuyetDinh]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiQuyetDinh](
	[LoaiQuyetDinhID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiQuyetDinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiQuyetDinh] PRIMARY KEY CLUSTERED 
(
	[LoaiQuyetDinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongChucDanh]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongChucDanh](
	[ChucDanhID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucDanh] [nvarchar](50) NULL,
	[TienLuongCung] [float] NULL,
	[PhuCap] [float] NULL,
 CONSTRAINT [PK_ChucDanh] PRIMARY KEY CLUSTERED 
(
	[ChucDanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoiQuanHe]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoiQuanHe](
	[MoiQuanHeID] [int] IDENTITY(1,1) NOT NULL,
	[TenMoiQuanHe] [nvarchar](50) NULL,
 CONSTRAINT [PK_MoiQuanHe] PRIMARY KEY CLUSTERED 
(
	[MoiQuanHeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NghiepVu]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NghiepVu](
	[NghiepVuID] [int] IDENTITY(1,1) NOT NULL,
	[TenNghiepVu] [nvarchar](50) NULL,
	[URL] [nvarchar](200) NULL,
 CONSTRAINT [PK_NghiepVu] PRIMARY KEY CLUSTERED 
(
	[NghiepVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NgoaiNgu]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgoaiNgu](
	[NgoaiNguID] [int] IDENTITY(1,1) NOT NULL,
	[TenCCNN] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChungChiNgoaiNgu] PRIMARY KEY CLUSTERED 
(
	[NgoaiNguID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[NguoiDungID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[QuanTri] [bit] NULL,
	[NhanVienID] [int] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[NguoiDungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiThan]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThan](
	[NguoiThanID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienID] [int] NULL,
	[MoiQuanHeID] [int] NULL,
	[TenNguoiThan] [nvarchar](50) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[SDT] [nchar](20) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_NguoiThan] PRIMARY KEY CLUSTERED 
(
	[NguoiThanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](10) NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinhID] [bit] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[SoCMND] [nvarchar](15) NULL,
	[TrangThaiID] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienBoPhan]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienBoPhan](
	[NhanVienID] [int] NOT NULL,
	[BoPhanID] [int] NOT NULL,
 CONSTRAINT [PK_NhanVienBoPhan] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC,
	[BoPhanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienChucDanh]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienChucDanh](
	[NhanVienID] [int] NOT NULL,
	[ChucDanhID] [int] NOT NULL,
 CONSTRAINT [PK_NhanVienChucDanh] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC,
	[ChucDanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyenNguoiDung]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenNguoiDung](
	[NguoiDungID] [int] NOT NULL,
	[NghiepVuID] [int] NOT NULL,
 CONSTRAINT [PK_QuyenNguoiDung] PRIMARY KEY CLUSTERED 
(
	[NguoiDungID] ASC,
	[NghiepVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TamUng]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TamUng](
	[TamUngID] [int] IDENTITY(1,1) NOT NULL,
	[TenTamUng] [nvarchar](50) NULL,
 CONSTRAINT [PK_TamUng] PRIMARY KEY CLUSTERED 
(
	[TamUngID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinHoc]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinHoc](
	[TinHocID] [int] IDENTITY(1,1) NOT NULL,
	[TenCCTH] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChungChiTinHoc] PRIMARY KEY CLUSTERED 
(
	[TinHocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[TinhThanhID] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhThanh] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[TinhThanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonGiao]    Script Date: 10/30/2021 9:23:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonGiao](
	[TonGiaoID] [int] IDENTITY(1,1) NOT NULL,
	[TenTonGiao] [nvarchar](50) NULL,
 CONSTRAINT [PK_TonGiao] PRIMARY KEY CLUSTERED 
(
	[TonGiaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangCap] ON 

INSERT [dbo].[BangCap] ([BangCapID], [TenBangCap]) VALUES (1, N'Đại học chính quy')
INSERT [dbo].[BangCap] ([BangCapID], [TenBangCap]) VALUES (2, N'Cao đẳng')
INSERT [dbo].[BangCap] ([BangCapID], [TenBangCap]) VALUES (3, N'Thạc sĩ')
SET IDENTITY_INSERT [dbo].[BangCap] OFF
GO
SET IDENTITY_INSERT [dbo].[BoPhan] ON 

INSERT [dbo].[BoPhan] ([BoPhanID], [TenBoPhan]) VALUES (1, N'Tổ tích hợp hệ thống và triển khai 1')
INSERT [dbo].[BoPhan] ([BoPhanID], [TenBoPhan]) VALUES (2, N'Tổ tích hợp hệ thống và triển khai 2')
INSERT [dbo].[BoPhan] ([BoPhanID], [TenBoPhan]) VALUES (3, N'Tổ quản trị')
SET IDENTITY_INSERT [dbo].[BoPhan] OFF
GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([ChamCongID], [Thang], [NgayCongChuan], [BoPhanID], [NhanVienID], [NgayDiLam], [NgayNghiLe], [NgayNghiPhepTinhLuong], [NgayKhongLuong], [NgayTinhLuong], [NgayChamCong], [GhiChu], [TrangThai]) VALUES (19, N'201811    ', 26, 3, 1025, 26, 0, 0, 0, 26, 26, N'', 2)
INSERT [dbo].[ChamCong] ([ChamCongID], [Thang], [NgayCongChuan], [BoPhanID], [NhanVienID], [NgayDiLam], [NgayNghiLe], [NgayNghiPhepTinhLuong], [NgayKhongLuong], [NgayTinhLuong], [NgayChamCong], [GhiChu], [TrangThai]) VALUES (20, N'201811    ', 26, 3, 1029, 25, 0, 1, 0, 26, 25, N'', 2)
INSERT [dbo].[ChamCong] ([ChamCongID], [Thang], [NgayCongChuan], [BoPhanID], [NhanVienID], [NgayDiLam], [NgayNghiLe], [NgayNghiPhepTinhLuong], [NgayKhongLuong], [NgayTinhLuong], [NgayChamCong], [GhiChu], [TrangThai]) VALUES (21, N'201811    ', 26, 1, 1021, 26, 0, 0, 0, 26, 26, N'', 2)
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietBanKeLuong] ON 

INSERT [dbo].[ChiTietBanKeLuong] ([ChiTietBanKeLuongID], [ThangKeLuong], [NhanVienID], [TienLuongCung], [HieuSuat], [NgayCongChuan], [NgayTinhLuong], [PhuCap], [TamUng], [ThucLinh], [TongLuong], [ThueThuNhapCaNhan], [TrangThai]) VALUES (10, N'201811    ', 1025, 6000000, 1, 26, 26, 24000, 700000, 3500000, 4200000, 0, 2)
INSERT [dbo].[ChiTietBanKeLuong] ([ChiTietBanKeLuongID], [ThangKeLuong], [NhanVienID], [TienLuongCung], [HieuSuat], [NgayCongChuan], [NgayTinhLuong], [PhuCap], [TamUng], [ThucLinh], [TongLuong], [ThueThuNhapCaNhan], [TrangThai]) VALUES (11, N'201811    ', 1029, 20000000, 1, 26, 26, 160000, 400000, 13600000, 14000000, 0, 2)
INSERT [dbo].[ChiTietBanKeLuong] ([ChiTietBanKeLuongID], [ThangKeLuong], [NhanVienID], [TienLuongCung], [HieuSuat], [NgayCongChuan], [NgayTinhLuong], [PhuCap], [TamUng], [ThucLinh], [TongLuong], [ThueThuNhapCaNhan], [TrangThai]) VALUES (12, N'201811    ', 1021, 15000000, 1, 26, 26, 105000, 200000, 10300000, 10500000, 0, 2)
SET IDENTITY_INSERT [dbo].[ChiTietBanKeLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietTamUng] ON 

INSERT [dbo].[ChiTietTamUng] ([PhieuTamUngID], [MaPhieuTamUng], [ThangTamUng], [TamUngID], [NhanVienID], [NgayLap], [TamUng], [GhiChu], [TrangThaiID]) VALUES (13, N'PH002', N'201811    ', 1, 1023, CAST(N'2018-11-10' AS Date), 500000, N'', 2)
INSERT [dbo].[ChiTietTamUng] ([PhieuTamUngID], [MaPhieuTamUng], [ThangTamUng], [TamUngID], [NhanVienID], [NgayLap], [TamUng], [GhiChu], [TrangThaiID]) VALUES (14, N'PH003', N'201811    ', 1, 1024, CAST(N'2018-11-05' AS Date), 400000, N'', 2)
INSERT [dbo].[ChiTietTamUng] ([PhieuTamUngID], [MaPhieuTamUng], [ThangTamUng], [TamUngID], [NhanVienID], [NgayLap], [TamUng], [GhiChu], [TrangThaiID]) VALUES (15, N'PH004', N'201811    ', 3, 1026, CAST(N'2018-11-25' AS Date), 1500000, N'', 2)
SET IDENTITY_INSERT [dbo].[ChiTietTamUng] OFF
GO
SET IDENTITY_INSERT [dbo].[DanToc] ON 

INSERT [dbo].[DanToc] ([DanTocID], [TenDanToc]) VALUES (1, N'Kinh')
INSERT [dbo].[DanToc] ([DanTocID], [TenDanToc]) VALUES (3, N'Thái')
INSERT [dbo].[DanToc] ([DanTocID], [TenDanToc]) VALUES (4, N'Ê Đê')
SET IDENTITY_INSERT [dbo].[DanToc] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGiaHieuSuat] ON 

INSERT [dbo].[DanhGiaHieuSuat] ([DanhGiaHieuSuatID], [Thang], [NhanVienID], [HieuSuat]) VALUES (14, N'201811    ', 1, 0.9)
INSERT [dbo].[DanhGiaHieuSuat] ([DanhGiaHieuSuatID], [Thang], [NhanVienID], [HieuSuat]) VALUES (15, N'201811    ', 2, 1)
INSERT [dbo].[DanhGiaHieuSuat] ([DanhGiaHieuSuatID], [Thang], [NhanVienID], [HieuSuat]) VALUES (16, N'201811    ', 1022, 0.8)
SET IDENTITY_INSERT [dbo].[DanhGiaHieuSuat] OFF
GO
INSERT [dbo].[GioiTinh] ([GioiTinhID], [GioiTinh]) VALUES (0, N'Nữ')
INSERT [dbo].[GioiTinh] ([GioiTinhID], [GioiTinh]) VALUES (1, N'Nam')
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([HopDongID], [MaHopDong], [LoaiHopDongID], [NgayKy], [NgayHieuLuc], [NgayHetHan], [NhanVienID], [NgayKetThuc], [TrangThai]) VALUES (5, N'HD01', 11, CAST(N'2001-11-14' AS Date), CAST(N'2018-09-18' AS Date), CAST(N'2018-12-15' AS Date), 1, CAST(N'2018-11-06' AS Date), 1)
INSERT [dbo].[HopDong] ([HopDongID], [MaHopDong], [LoaiHopDongID], [NgayKy], [NgayHieuLuc], [NgayHetHan], [NhanVienID], [NgayKetThuc], [TrangThai]) VALUES (6, N'HD02', 12, CAST(N'2002-11-14' AS Date), CAST(N'2018-10-18' AS Date), CAST(N'2018-12-15' AS Date), 2, CAST(N'2018-11-05' AS Date), 1)
INSERT [dbo].[HopDong] ([HopDongID], [MaHopDong], [LoaiHopDongID], [NgayKy], [NgayHieuLuc], [NgayHetHan], [NhanVienID], [NgayKetThuc], [TrangThai]) VALUES (7, N'HD03', 12, CAST(N'2010-11-14' AS Date), CAST(N'2018-08-18' AS Date), CAST(N'2018-12-15' AS Date), 1021, CAST(N'2018-11-06' AS Date), 1)
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
INSERT [dbo].[HoSoNhanVien] ([NhanVienID], [NgayVaoLam], [DanTocID], [TonGiaoID], [TinhThanhID], [NgoaiNguID], [TinHocID], [BangCapID], [GhiChu], [ImagePath]) VALUES (1, CAST(N'2004-11-02' AS Date), 1, 2, 1, 1, 4, 1, N'', N'\AnhHSNV\Anh1.jpg')
INSERT [dbo].[HoSoNhanVien] ([NhanVienID], [NgayVaoLam], [DanTocID], [TonGiaoID], [TinhThanhID], [NgoaiNguID], [TinHocID], [BangCapID], [GhiChu], [ImagePath]) VALUES (2, CAST(N'2000-08-22' AS Date), 1, 2, 1, 6, 6, 3, N'', N'\AnhHSNV\Anh2.jpg')
INSERT [dbo].[HoSoNhanVien] ([NhanVienID], [NgayVaoLam], [DanTocID], [TonGiaoID], [TinhThanhID], [NgoaiNguID], [TinHocID], [BangCapID], [GhiChu], [ImagePath]) VALUES (1021, CAST(N'2008-09-14' AS Date), 3, 4, 2, 6, 4, 1, N'', N'\AnhHSNV\Anh1021.jpg')
GO
SET IDENTITY_INSERT [dbo].[KhenThuongKyLuat] ON 

INSERT [dbo].[KhenThuongKyLuat] ([KhenThuongKyLuatID], [NhanVienID], [LoaiQuyetDinhID], [NgayQuyetDinh], [GhiChu]) VALUES (2, 2, 4, CAST(N'2010-05-12T00:00:00.000' AS DateTime), N'Có tiến bộ trong dự án')
INSERT [dbo].[KhenThuongKyLuat] ([KhenThuongKyLuatID], [NhanVienID], [LoaiQuyetDinhID], [NgayQuyetDinh], [GhiChu]) VALUES (3, 1021, 4, CAST(N'2010-04-25T00:00:00.000' AS DateTime), N'Hoàn thành tốt công việc')
INSERT [dbo].[KhenThuongKyLuat] ([KhenThuongKyLuatID], [NhanVienID], [LoaiQuyetDinhID], [NgayQuyetDinh], [GhiChu]) VALUES (7, 1026, 2, CAST(N'2018-12-26T11:30:00.000' AS DateTime), N'Thiếu trách nhiệm trong công việc')
SET IDENTITY_INSERT [dbo].[KhenThuongKyLuat] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiHopDong] ON 

INSERT [dbo].[LoaiHopDong] ([LoaiHopDongID], [TenLoaiHopDong]) VALUES (11, N'Dài hạn 1 năm')
INSERT [dbo].[LoaiHopDong] ([LoaiHopDongID], [TenLoaiHopDong]) VALUES (12, N'Thử việc 3 tháng')
INSERT [dbo].[LoaiHopDong] ([LoaiHopDongID], [TenLoaiHopDong]) VALUES (13, N'Thử việc 6 tháng')
SET IDENTITY_INSERT [dbo].[LoaiHopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiQuyetDinh] ON 

INSERT [dbo].[LoaiQuyetDinh] ([LoaiQuyetDinhID], [TenLoaiQuyetDinh]) VALUES (2, N'Kỷ luật')
INSERT [dbo].[LoaiQuyetDinh] ([LoaiQuyetDinhID], [TenLoaiQuyetDinh]) VALUES (4, N'Khen thưởng ')
SET IDENTITY_INSERT [dbo].[LoaiQuyetDinh] OFF
GO
SET IDENTITY_INSERT [dbo].[LuongChucDanh] ON 

INSERT [dbo].[LuongChucDanh] ([ChucDanhID], [TenChucDanh], [TienLuongCung], [PhuCap]) VALUES (1, N'Nhân viên', 6000000, 0.4)
INSERT [dbo].[LuongChucDanh] ([ChucDanhID], [TenChucDanh], [TienLuongCung], [PhuCap]) VALUES (2, N'Giám đốc', 25000000, 0.9)
INSERT [dbo].[LuongChucDanh] ([ChucDanhID], [TenChucDanh], [TienLuongCung], [PhuCap]) VALUES (10, N'Trưởng phòng', 15000000, 0.7)
SET IDENTITY_INSERT [dbo].[LuongChucDanh] OFF
GO
SET IDENTITY_INSERT [dbo].[MoiQuanHe] ON 

INSERT [dbo].[MoiQuanHe] ([MoiQuanHeID], [TenMoiQuanHe]) VALUES (1, N'Cha')
INSERT [dbo].[MoiQuanHe] ([MoiQuanHeID], [TenMoiQuanHe]) VALUES (3, N'Ông')
INSERT [dbo].[MoiQuanHe] ([MoiQuanHeID], [TenMoiQuanHe]) VALUES (7, N'Chị gái')
SET IDENTITY_INSERT [dbo].[MoiQuanHe] OFF
GO
SET IDENTITY_INSERT [dbo].[NghiepVu] ON 

INSERT [dbo].[NghiepVu] ([NghiepVuID], [TenNghiepVu], [URL]) VALUES (1, N'Quản lý hệ thống', N'rbpHeThong')
INSERT [dbo].[NghiepVu] ([NghiepVuID], [TenNghiepVu], [URL]) VALUES (2, N'Quản lý danh mục', N'rbpDanhMuc')
INSERT [dbo].[NghiepVu] ([NghiepVuID], [TenNghiepVu], [URL]) VALUES (3, N'Quản lý nhân sự', N'tbpNhanSu')
SET IDENTITY_INSERT [dbo].[NghiepVu] OFF
GO
SET IDENTITY_INSERT [dbo].[NgoaiNgu] ON 

INSERT [dbo].[NgoaiNgu] ([NgoaiNguID], [TenCCNN]) VALUES (1, N'Chứng chỉ tiếng anh A')
INSERT [dbo].[NgoaiNgu] ([NgoaiNguID], [TenCCNN]) VALUES (3, N'Chứng chỉ tiếng nhật N3')
INSERT [dbo].[NgoaiNgu] ([NgoaiNguID], [TenCCNN]) VALUES (4, N'Chứng chỉ tiếng nhật N2')
SET IDENTITY_INSERT [dbo].[NgoaiNgu] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([NguoiDungID], [TenDangNhap], [MatKhau], [QuanTri], [NhanVienID]) VALUES (7, N'admin', N'gizxxqXVsRA=', 1, 1)
INSERT [dbo].[NguoiDung] ([NguoiDungID], [TenDangNhap], [MatKhau], [QuanTri], [NhanVienID]) VALUES (11, N'lqvinh', N'Jqw2bN1WzMabj9vWRO7GzQ==', 0, 2)
INSERT [dbo].[NguoiDung] ([NguoiDungID], [TenDangNhap], [MatKhau], [QuanTri], [NhanVienID]) VALUES (13, N'hoantran', N'Jqw2bN1WzMabj9vWRO7GzQ==', 0, 1022)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiThan] ON 

INSERT [dbo].[NguoiThan] ([NguoiThanID], [NhanVienID], [MoiQuanHeID], [TenNguoiThan], [NgheNghiep], [SDT], [DiaChi]) VALUES (6, 2, 1, N'Lưu Quang Vũ', N'Công an ', N'01634197356         ', N'Lê Lợi')
INSERT [dbo].[NguoiThan] ([NguoiThanID], [NhanVienID], [MoiQuanHeID], [TenNguoiThan], [NgheNghiep], [SDT], [DiaChi]) VALUES (7, 1, 13, N'Trần Bích Phương', N'Tester', N'0904209467          ', N'Văn Cao')
INSERT [dbo].[NguoiThan] ([NguoiThanID], [NhanVienID], [MoiQuanHeID], [TenNguoiThan], [NgheNghiep], [SDT], [DiaChi]) VALUES (8, 1022, 7, N'Trần Thị Minh Hằng', N'Y tá', N'0976345678          ', N'Hải An')
SET IDENTITY_INSERT [dbo].[NguoiThan] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([NhanVienID], [MaNV], [TenNV], [NgaySinh], [GioiTinhID], [DiaChi], [SDT], [Email], [SoCMND], [TrangThaiID]) VALUES (1, N'NV001', N'Vũ Minh Hiếu', CAST(N'2018-10-10T00:00:00.000' AS DateTime), 1, N'Hải Phòng', N'0241565522          ', N'vmh@gmail.com', N'033456789', 1)
INSERT [dbo].[NhanVien] ([NhanVienID], [MaNV], [TenNV], [NgaySinh], [GioiTinhID], [DiaChi], [SDT], [Email], [SoCMND], [TrangThaiID]) VALUES (2, N'NV002', N'Lưu Quang Vinh', CAST(N'2018-09-12T00:00:00.000' AS DateTime), 1, N'Hải Phòng', N'0124156552          ', N'lqv@gmail.com', N'035546546', 1)
INSERT [dbo].[NhanVien] ([NhanVienID], [MaNV], [TenNV], [NgaySinh], [GioiTinhID], [DiaChi], [SDT], [Email], [SoCMND], [TrangThaiID]) VALUES (1021, N'NV003', N'Trần Văn Thành', CAST(N'2018-10-09T00:00:00.000' AS DateTime), 1, N'số 2/5/142 Lê Lợi', N'0934678945          ', N'tranthanh@gmail.com', N'034598765', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[NhanVienBoPhan] ([NhanVienID], [BoPhanID]) VALUES (1, 2)
INSERT [dbo].[NhanVienBoPhan] ([NhanVienID], [BoPhanID]) VALUES (2, 2)
INSERT [dbo].[NhanVienBoPhan] ([NhanVienID], [BoPhanID]) VALUES (1021, 1)
GO
INSERT [dbo].[NhanVienChucDanh] ([NhanVienID], [ChucDanhID]) VALUES (1, 11)
INSERT [dbo].[NhanVienChucDanh] ([NhanVienID], [ChucDanhID]) VALUES (2, 2)
INSERT [dbo].[NhanVienChucDanh] ([NhanVienID], [ChucDanhID]) VALUES (1021, 10)
GO
INSERT [dbo].[QuyenNguoiDung] ([NguoiDungID], [NghiepVuID]) VALUES (11, 2)
INSERT [dbo].[QuyenNguoiDung] ([NguoiDungID], [NghiepVuID]) VALUES (11, 3)
INSERT [dbo].[QuyenNguoiDung] ([NguoiDungID], [NghiepVuID]) VALUES (11, 4)
GO
SET IDENTITY_INSERT [dbo].[TamUng] ON 

INSERT [dbo].[TamUng] ([TamUngID], [TenTamUng]) VALUES (1, N'Tiền ăn')
INSERT [dbo].[TamUng] ([TamUngID], [TenTamUng]) VALUES (2, N'Tiền xăng')
INSERT [dbo].[TamUng] ([TamUngID], [TenTamUng]) VALUES (3, N'Lương')
SET IDENTITY_INSERT [dbo].[TamUng] OFF
GO
SET IDENTITY_INSERT [dbo].[TinHoc] ON 

INSERT [dbo].[TinHoc] ([TinHocID], [TenCCTH]) VALUES (4, N'MOS')
INSERT [dbo].[TinHoc] ([TinHocID], [TenCCTH]) VALUES (6, N'CCNA')
INSERT [dbo].[TinHoc] ([TinHocID], [TenCCTH]) VALUES (11, N'IC3')
SET IDENTITY_INSERT [dbo].[TinHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[TinhThanh] ON 

INSERT [dbo].[TinhThanh] ([TinhThanhID], [TenTinhThanh]) VALUES (1, N'Hải Phòng')
INSERT [dbo].[TinhThanh] ([TinhThanhID], [TenTinhThanh]) VALUES (2, N'Hà Nội')
INSERT [dbo].[TinhThanh] ([TinhThanhID], [TenTinhThanh]) VALUES (3, N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[TinhThanh] OFF
GO
SET IDENTITY_INSERT [dbo].[TonGiao] ON 

INSERT [dbo].[TonGiao] ([TonGiaoID], [TenTonGiao]) VALUES (2, N'Thiên chúa giáo')
INSERT [dbo].[TonGiao] ([TonGiaoID], [TenTonGiao]) VALUES (3, N'Kito giáo')
INSERT [dbo].[TonGiao] ([TonGiaoID], [TenTonGiao]) VALUES (4, N'Tin lành')
SET IDENTITY_INSERT [dbo].[TonGiao] OFF
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_BoPhan] FOREIGN KEY([BoPhanID])
REFERENCES [dbo].[BoPhan] ([BoPhanID])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_BoPhan]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietBanKeLuong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBanKeLuong_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[ChiTietBanKeLuong] CHECK CONSTRAINT [FK_ChiTietBanKeLuong_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietTamUng]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTamUng_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[ChiTietTamUng] CHECK CONSTRAINT [FK_ChiTietTamUng_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietTamUng]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTamUng_TamUng] FOREIGN KEY([TamUngID])
REFERENCES [dbo].[TamUng] ([TamUngID])
GO
ALTER TABLE [dbo].[ChiTietTamUng] CHECK CONSTRAINT [FK_ChiTietTamUng_TamUng]
GO
ALTER TABLE [dbo].[DanhGiaHieuSuat]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaHieuSuat_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[DanhGiaHieuSuat] CHECK CONSTRAINT [FK_DanhGiaHieuSuat_NhanVien]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_LoaiHopDong] FOREIGN KEY([LoaiHopDongID])
REFERENCES [dbo].[LoaiHopDong] ([LoaiHopDongID])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_LoaiHopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_NhanVien]
GO
ALTER TABLE [dbo].[HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_BangCap] FOREIGN KEY([BangCapID])
REFERENCES [dbo].[BangCap] ([BangCapID])
GO
ALTER TABLE [dbo].[HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_BangCap]
GO
ALTER TABLE [dbo].[HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_DanToc] FOREIGN KEY([DanTocID])
REFERENCES [dbo].[DanToc] ([DanTocID])
GO
ALTER TABLE [dbo].[HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_DanToc]
GO
ALTER TABLE [dbo].[HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_NgoaiNgu] FOREIGN KEY([NgoaiNguID])
REFERENCES [dbo].[NgoaiNgu] ([NgoaiNguID])
GO
ALTER TABLE [dbo].[HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_NgoaiNgu]
GO
ALTER TABLE [dbo].[HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_NhanVien]
GO
ALTER TABLE [dbo].[HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_TinHoc] FOREIGN KEY([TinHocID])
REFERENCES [dbo].[TinHoc] ([TinHocID])
GO
ALTER TABLE [dbo].[HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_TinHoc]
GO
ALTER TABLE [dbo].[HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_TinhThanh] FOREIGN KEY([TinhThanhID])
REFERENCES [dbo].[TinhThanh] ([TinhThanhID])
GO
ALTER TABLE [dbo].[HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_TinhThanh]
GO
ALTER TABLE [dbo].[HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_TonGiao] FOREIGN KEY([TonGiaoID])
REFERENCES [dbo].[TonGiao] ([TonGiaoID])
GO
ALTER TABLE [dbo].[HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_TonGiao]
GO
ALTER TABLE [dbo].[KhenThuongKyLuat]  WITH CHECK ADD  CONSTRAINT [FK_KhenThuongKyLuat_LoaiQuyetDinh] FOREIGN KEY([LoaiQuyetDinhID])
REFERENCES [dbo].[LoaiQuyetDinh] ([LoaiQuyetDinhID])
GO
ALTER TABLE [dbo].[KhenThuongKyLuat] CHECK CONSTRAINT [FK_KhenThuongKyLuat_LoaiQuyetDinh]
GO
ALTER TABLE [dbo].[KhenThuongKyLuat]  WITH CHECK ADD  CONSTRAINT [FK_KhenThuongKyLuat_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[KhenThuongKyLuat] CHECK CONSTRAINT [FK_KhenThuongKyLuat_NhanVien]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_NhanVien]
GO
ALTER TABLE [dbo].[NguoiThan]  WITH CHECK ADD  CONSTRAINT [FK_NguoiThan_MoiQuanHe] FOREIGN KEY([MoiQuanHeID])
REFERENCES [dbo].[MoiQuanHe] ([MoiQuanHeID])
GO
ALTER TABLE [dbo].[NguoiThan] CHECK CONSTRAINT [FK_NguoiThan_MoiQuanHe]
GO
ALTER TABLE [dbo].[NguoiThan]  WITH CHECK ADD  CONSTRAINT [FK_NguoiThan_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[NguoiThan] CHECK CONSTRAINT [FK_NguoiThan_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_GioiTinh] FOREIGN KEY([GioiTinhID])
REFERENCES [dbo].[GioiTinh] ([GioiTinhID])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_GioiTinh]
GO
ALTER TABLE [dbo].[NhanVienBoPhan]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienBoPhan_BoPhan] FOREIGN KEY([BoPhanID])
REFERENCES [dbo].[BoPhan] ([BoPhanID])
GO
ALTER TABLE [dbo].[NhanVienBoPhan] CHECK CONSTRAINT [FK_NhanVienBoPhan_BoPhan]
GO
ALTER TABLE [dbo].[NhanVienBoPhan]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienBoPhan_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[NhanVienBoPhan] CHECK CONSTRAINT [FK_NhanVienBoPhan_NhanVien]
GO
ALTER TABLE [dbo].[NhanVienChucDanh]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienChucDanh_LuongChucDanh] FOREIGN KEY([ChucDanhID])
REFERENCES [dbo].[LuongChucDanh] ([ChucDanhID])
GO
ALTER TABLE [dbo].[NhanVienChucDanh] CHECK CONSTRAINT [FK_NhanVienChucDanh_LuongChucDanh]
GO
ALTER TABLE [dbo].[NhanVienChucDanh]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienChucDanh_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[NhanVienChucDanh] CHECK CONSTRAINT [FK_NhanVienChucDanh_NhanVien]
GO
ALTER TABLE [dbo].[QuyenNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_QuyenNguoiDung_NghiepVu] FOREIGN KEY([NghiepVuID])
REFERENCES [dbo].[NghiepVu] ([NghiepVuID])
GO
ALTER TABLE [dbo].[QuyenNguoiDung] CHECK CONSTRAINT [FK_QuyenNguoiDung_NghiepVu]
GO
ALTER TABLE [dbo].[QuyenNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_QuyenNguoiDung_NguoiDung] FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[QuyenNguoiDung] CHECK CONSTRAINT [FK_QuyenNguoiDung_NguoiDung]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: luu; 2:nop' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChamCong', @level2type=N'COLUMN',@level2name=N'TrangThai'
GO
USE [master]
GO
